@model IEnumerable<gpa_calculator.StudentGrades>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* Debug stuff mostly *@
<p>Current username: @User.Identity.Name</p>
<p>Weighted GPA: @ViewBag.weightedGPA.ToString("F2")</p>
<p>Unweighted GPA: @ViewBag.unweightedGPA.ToString("F2")</p>
<p>Latest quarter (currently displayed): @ViewBag.latestQuarter</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
